{% extends "auctions/layout.html" %}

{% block body %}
<div class="container" style="font-family: 'Nunito', sans-serif;">
    <h2 class="text-center my-4">All Categories</h2>
    <div class="row justify-content-center">
        {% for list in cat_list %}
        <div class="col-md-4 mb-3">
            <div class="card shadow-sm text-center">
                <div class="card-body">
                    <a class="h5 text-decoration-none text-dark" href="{% url 'cat' list.category %}">{{ list.category }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
