{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}BIDWIZ{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'auctions/styles.css' %}" />

    <link
      rel="icon"
      type="image/png"
      href="{% static 'auctions/bidwizlogo.png' %}"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <div class="container-fluid text-center my-4">
      <img
        src="{% static 'auctions/bidwizlogo.png' %}"
        alt="BidWiz Logo"
        class="logo-img"
      />
      <h1 class="animated-heading mt-3">
        BidWiz: Redefining Auctions, Revolutionizing Bids
      </h1>
    
    </div>


    <div class="glass-box mb-3">
    {% if user.is_authenticated %} Signed in as
      <strong>{{ user.username }}</strong>.{% else %}Not
      signed in.{% endif %}
    </div>


    <ul class="nav nav-pills nav-fill mb-4">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cat_list' %}">Categories</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create' %}">Create Listing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'watchlistpage' user.username %}"
          >Watch List</a
        >
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="{% url 'winnings' %}">Your Winnings</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Log In</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
      {% endif %}
    </ul>


    <div class="container">
      {% block body %} {% endblock %}
    </div>
  </body>
</html>
