{% extends "auctions/layout.html" %}

{% block body %}
<div class="container my-4" style="font-family: 'Nunito', sans-serif;">
    <h2 class="text-center mb-4">Your Winnings</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for list in user_winlist %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                {% if list.bid_win_list.image_url %}
                    <img src="{{ list.bid_win_list.image_url }}" class="card-img-top" alt="Winning Item Image">
                {% else %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/1024px-No_image_3x4.svg.png" class="card-img-top" alt="No image Provided">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ list.bid_win_list.title }}</h5>
                    <h6 class="text-muted">Category: {{ list.bid_win_list.category }}</h6>
                    <p class="card-text">{{ list.bid_win_list.desc }}</p>
                    <p><strong>Listed by:</strong> {{ list.bid_win_list.user }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
